# filter(),map() with lambda function

In [15]:
a=lambda x:x**3
a(3)

27

In [13]:
(lambda x:x**3)(3)

27

In [14]:
(lambda x,y,z: x+y*z)(8,2,6)

20

In [7]:
a=lambda x:x**3
a(int(input('x=')))

x=3

27

In [39]:
lambda x:x**3
#int(input('x='))
x=3

In [16]:
print(cube(5))

NameError: name 'cube' is not defined

In [38]:
f(int(input('x=')))
f=lambda x:(x%2 != 0)                #it will not execute
#f(int(input('x=')))

x=6

In [31]:
def check(x):
    a= lambda x:x**2
    a(check(int(input())))

In [29]:
a

In [33]:
x=int(input('x='))
x**3

x=3

27

In [44]:
a=lambda x:x%2 != 0
a(6)

False

In [70]:
for i in range(0,10,1):
    if i%2 != 0:
        print(i)

1
3
5
7
9

In [75]:
for i in range(10):
    f= lambda x: x%2 != 0
    print(i,'=>',f(i))

0 => False
1 => True
2 => False
3 => True
4 => False
5 => True
6 => False
7 => True
8 => False
9 => True

In [80]:
for i in range(10):
    if i%2 != 0:
        print('T =>',i)
    else:
        print('F =>',i)

F => 0
T => 1
F => 2
T => 3
F => 4
T => 5
F => 6
T => 7
F => 8
T => 9

In [97]:
#print square of nos from 0 to 10 using lambda

for i in range(11):
    a=lambda b:b**2
    print('square of no',i,'=>',a(i))

square of no 0 => 0
square of no 1 => 1
square of no 2 => 4
square of no 3 => 9
square of no 4 => 16
square of no 5 => 25
square of no 6 => 36
square of no 7 => 49
square of no 8 => 64
square of no 9 => 81
square of no 10 => 100

In [86]:
#print square of nos from 0 to 10 using foor loop

for i in range(11):
    print('square of no',i,'=>',i**2)

square of no 0 => 0
square of no 1 => 1
square of no 2 => 4
square of no 3 => 9
square of no 4 => 16
square of no 5 => 25
square of no 6 => 36
square of no 7 => 49
square of no 8 => 64
square of no 9 => 81
square of no 10 => 100

In [6]:
li=[i for i in range(11)]
fli=[]
for i in li:
    if i%2 != 0:
        #print(fli.append(i))
        fli.append(i)
fli

[1, 3, 5, 7, 9]

In [11]:
addition= lambda num1,num2,num3 : num1+num2+num3
addition(1700,20,32)

1752

In [12]:
(lambda num1,num2 : num1+num2)(120,34)

154

In [15]:
# Python code to illustrate 
# filter() with lambda() 

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(filter(lambda x: (x%2 != 0) , li)) 
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

In [37]:
l = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
g = filter(lambda a: a%2 != 0 , l)           # here filter select the elements from list l acc to expression
list(g)

[5, 7, 97, 77, 23, 73, 61]

In [36]:
l = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
g = list(filter(lambda a: a%2 != 0 , l))             # here filter select the elements from list l acc to expression
g

[5, 7, 97, 77, 23, 73, 61]

In [29]:
l = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
g = list(map(lambda a: a%2 != 0 , l))                # here map solve the expression on elements of list l and return values
g

[True, True, False, True, False, False, True, True, True, True]

In [21]:
# Python code to illustrate  
# map() with lambda()  
# to get double of a list. 

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(map(lambda x: x**2 , li)) 
print(final_list)

[25, 49, 484, 9409, 2916, 3844, 5929, 529, 5329, 3721]

In [31]:
s=[2,6,9,5,2.5,6.8]
t=list(map(lambda x:x**3 , s))
t

[8, 216, 729, 125, 15.625, 314.43199999999996]

In [38]:
s=[2,6,9,5,2.5,6.8]
t= map(lambda x:x**3 , s)
list(t)

[8, 216, 729, 125, 15.625, 314.43199999999996]

In [51]:
s=['cat','dog','bird','a']
t= map(list, s)
list(t)

[['c', 'a', 't'], ['d', 'o', 'g'], ['b', 'i', 'r', 'd'], ['a']]

In [57]:
s=['cat','dog','bird','a']
t= map(list, s*3)
list(t)

[['c', 'a', 't'],
 ['d', 'o', 'g'],
 ['b', 'i', 'r', 'd'],
 ['a'],
 ['c', 'a', 't'],
 ['d', 'o', 'g'],
 ['b', 'i', 'r', 'd'],
 ['a'],
 ['c', 'a', 't'],
 ['d', 'o', 'g'],
 ['b', 'i', 'r', 'd'],
 ['a']]

In [46]:
s=(2,6,9,5,2.5,6.8)                    # it is tuple
t= map(lambda x:x**3 , s)
tuple(t)                               # here we create tuple

(8, 216, 729, 125, 15.625, 314.43199999999996)

In [47]:
s=[2,6,9,5,2.5,6.8]                     # it is list
t= map(lambda x:x**3 , s)
tuple(t)                               # here we create tuple

(8, 216, 729, 125, 15.625, 314.43199999999996)

In [60]:
s=(2,6,9,5,2.5,6.8)                     # it is list
t= map(lambda x:x**3 , s*2)
tuple(t)                               # here we create tuple

(8,
 216,
 729,
 125,
 15.625,
 314.43199999999996,
 8,
 216,
 729,
 125,
 15.625,
 314.43199999999996)

In [67]:
li1 = [i for i in range(10)]
li2 = [i for i in range(10)]
li3 = map(lambda x,y:x+y, li1,li2)
list(li3)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [77]:
li1 = [i for i in range(10)]
li2 = [i for i in range(8)]
li3 = map(lambda x,y:x*y, li1,li2)
#list(li3)

In [78]:
li1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [79]:
li2

[0, 1, 2, 3, 4, 5, 6, 7]

In [80]:
list(li3)

[0, 1, 4, 9, 16, 25, 36, 49]