# class

In [1]:
class Demo:
    def assign(ob,x,y):               #a nd b are global variable
        ob.a=x
        ob.b=y
    def do_sum(ob):                    
        #ob.take_input(54,45)
        return ob.a+ob.b
o=Demo()
o.assign(45,54)
o.do_sum()

99

In [3]:
class Demo:
    def __init__(ob,x,y):               
        ob.a=x
        ob.b=y
    def do_sum(ob):                    
        #ob.take_input(54,45)
        return ob.a+ob.b
o=Demo(45,54)
#o.assign(45,54)
o.do_sum()

99

In [2]:
class world:
    def hello(self,x):
        print(x)
obj=world()
obj.hello('as a world...')

as a world...

In [3]:
class maths:
    def sum(self,x,y,z):
        r=x+y+z
        print(r)
obj=maths()
obj.sum(4,8,6)

18

In [10]:
class maths:
    def sum(self,x,y,z):
        self.a=input('x=')
        self.b=input('y=')
      #  self.c=input('z=')
        return self.a+self.b
obj=maths()
obj.sum()

TypeError: sum() missing 3 required positional arguments: 'x', 'y', and 'z'

In [22]:
class calculation:
    def sum(self,x,y,z):
        return(x+y+z)
    def sub(self,x,y):
        return(x-y)
    def div(self,x,y):
        return(x/y)
    def mul(self,x,y,z):
        return(x*y*z)
obj=calculation()
obj.sum(4,8,3)
obj.sub(9,4)

5

In [62]:
class calculation:
    def sum(self,x,y,z):
        return(x+y+z)
    def sub(self,x,y):
        return(x-y)
    def div(self,x,y):
        return(x/y)
    def mul(self,x,y,z):
        return(x*y*z)
obj=calculation()
obj.sum(4,8,3)
#obj.sub(9,4)

15

In [63]:
obj.sub(9,4)

5

In [65]:
obj.div(8,3)

2.6666666666666665

In [71]:
obj.mul(2,5,4)

40

In [61]:
class demo:
    def __init__(self,x,y):
        self.a = x
        self.b = y
       
    def do_sum(self):
        return self.a+self.b
obj=demo(5,14)
obj.do_sum()

19

In [11]:
class demo:
    def __init__(a,x,y):
        a.p=x
        a.q=y
    def sum(a):
        return a.p+a.q
o1=demo(3,8)
o2=demo(5,10)
o1.sum()
o2.sum()

15

In [18]:
class demo:
    def __init__(a,x,y):
        a.p=x
        a.q=y
    def sum(a):
        return a.p+a.q
o1=demo(3,8)
o2=demo(5,10)
#o1.sum()
#o2.sum()

In [19]:
o1.sum()

11

In [20]:
o2.sum()

15

In [2]:
class demo:
    def __init__(self):
        self.p=int(input())
        self.q=int(input())
    def sum(self):
        return self.p+self.q
o1=demo()
#o2=demo()
o1.sum()
#o2.sum()

4
5

9

In [12]:
class demo:
    def __init__(ob):
        ob.p=int(input())
        ob.q=int(input())
    def sum(ob):
        return ob.p+ob.q
o1=demo()
#o2=demo()
o1.sum()
#o2.sum()

6
8

14

In [17]:
class demo:
    def __init__(a):
        a.p=int(input())
        a.q=int(input())
    def sum(a):
        return a.p+a.q
o1=demo()
o1.sum()
o2=demo()
#o1.sum()
o2.sum()

4
6
3
2

5

In [19]:
class demo:
    def __init__(a):
        a.p=int(input())
        a.q=int(input())
    def sum(a):
        return a.p+a.q
print('values for obj1=')
o1=demo()

#o1.sum()
#print('value for obj2=')
#o2=demo()
#o1.sum()
#o2.sum()

values for obj1=
5
7

In [20]:
o1.sum()

12

In [2]:
class demo:
    def __init__(a):
        a.p=int(input())
        a.q=int(input())
    def sum(a):
        return a.p+a.q
    def sub(a):
        return a.p-a.q
    def mul(a):
        return a.p*a.q
    def div(a):
        return a.p/a.q
    
print('enter values for object o=')
o=demo()

#obj1.sum()
#obj1.sub()
#print('value for obj2=')
#obj2=demo()
#obj2.sum()

enter values for object o=
9
4

In [4]:
o.sum()

13

In [5]:
o.sub()

5

In [6]:
o.mul()

36

In [7]:
o.div()

2.25

In [8]:
o.sub()

5

In [2]:
class myclass:
    x=4
obj=myclass()
print(obj.x)

4

In [3]:
class myclass:
    x=4
obj=myclass()
obj.x

4

In [4]:
class myclass:
    x=int(input())
    y=int(input())
    c=x+y
obj=myclass()
obj.c

5
3

8

In [8]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
ob=person('aanshi',22)

print('her name is',ob.name,'and age is',ob.age)

her name is aanshi and age is 22

In [18]:
class person:
    def __init__(self):
        self.name=input()
        self.age=input()
        
ob1=person()
#ob2=person()
print('her name is',ob.name,'and age is',ob.age)

ob2=person()
print('her name is',ob2.name,'and age is',ob2.age)

Aanshi
22
her name is Aanshi and age is 22
Aish
21
her name is Aish and age is 21

In [23]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def people(self):
        print('hello my name is',self.name,'and my salary is',self.age)
        
ob=person('aanshi',220000)
ob.people()
#print('her name is',ob.name,'and age is',ob.age)

hello my name is aanshi and my salary is 220000

In [24]:
class person:
    def __init__(self):
        self.name=input()
        self.age=input()
    def people(self):
        print('her name is',self.name,'and her salary is',self.age)
        
ob=person()
ob.people()
#print('her name is',ob.name,'and age is',ob.age)

Aanshi
2200000
her name is Aanshi and her salary is 2200000

In [4]:
class person:
    def __init__(s):
        s.name=input('name-')
        s.age=input('age-')
        s.salary=input('salary-')
        s.year=input('year-')
        
    def people(s):
        print('her name is',s.name,'and her salary is',s.salary)
    def detail(s):
        print('her name is',s.name,'salary is',s.salary,'age is',s.age,'in year',s.year)
        
ob1=person()
ob2=person()
ob1.people()
ob2.detail()
#print('her name is',ob.name,'and age is',ob.age)

name-Aanshi
age-22
salary-1500000
year-2020
name-Aish
age-23
salary-1400000
year-2021
her name is Aanshi and her salary is 1500000
her name is Aish salary is 1400000 age is 23 in year 2021

In [4]:
class info:
    def __init__(s):
        print('plz enter your details maam\sir')
        s.name=input('name-')
        s.j=int(input('joining year-'))
        s.s=int(input('fresher salary-'))
    def output(s):
        print('ok',s.name,'you have experience of',2019-s.j,'years and now your salary is',s.s*5)
obj=info()
obj.output()

plz enter your details maam\sir
name-Aanshi
joining year-2016
fresher salary-50000
ok Aanshi you have experience of 3 years and now your salary is 250000

In [2]:
class initialize:
    def __init__(self):
        self.a=int(input('a='))
        self.b=int(input('b='))
        
    def operator(self):
        self.op=input("enter operator=")
        
    def add(self,x,y):
        return x+y
    def substract(self,x,y):
        return x-y
    def multiplication(self,x,y):
        return x*y
    def divide(self,x,y):
        return x/y
    
    def operate(self):
        self.operator()
        if self.op=='+':
            return self.add(self.a,self.b)
        elif self.op=='-':
            return self.substract(self.a,self.b)
        elif self.op=='*':
            return self.multipliy(self.a,self.b)
        elif self.op=='/': 
            return self.divide(self.a,self.b)
        else:
            return 'wrong section'

ob = initialize()
ob.operate()

a=5
b=8
enter operator=+

13

In [3]:
ob.operate()

enter operator=-

-3

In [5]:
class calculation:
    def __init__(s):
        s.a=int(input('a='))
        s.b=int(input('b='))
        
  #  def operator(self):
   #     self.op=input("enter operator=")
        
    def add(s):
        return s.a+s.b
    def sub(s):
        return s.a-s.b
    def mul(s):
        return s.a*s.b
    def div(s):
        return s.a/s.b
    
    def operate(s):
        s.op=input('enter operator=> ')
       # self.operator()
        if s.op=='+':
            return s.add()
        elif s.op=='-':
            return s.sub()
        elif s.op=='*':
            return s.mul()
        elif s.op=='/': 
            return s.div()
        else:
            return 'wrong section'

ob = calculation()
ob.operate()

a=7
b=4
enter operator=> -

3

In [17]:
ob.div()

1.75

In [13]:
# inheritance


class all(calculation,info,world,maths,demo):

    pass
p=all()
p.operate()

a=7
b=8
enter operator=> -

-1

In [14]:
p.hello('hi! my name is Aanshi.')

hi! my name is Aanshi.

In [15]:
p.sum(4,8,3)

15

In [24]:
p.sum()

TypeError: sum() missing 3 required positional arguments: 'x', 'y', and 'z'

In [26]:
p.output()

AttributeError: 'all' object has no attribute 'name'