# Loops (for and while)

In [1]:
#print nos from 1 to 10
for a in range(1,11,1):
    print(a)

1
2
3
4
5
6
7
8
9
10

In [2]:
#print table of any no
for t in range(1,11):
    print(2*t)

2
4
6
8
10
12
14
16
18
20

In [3]:
#print table of 3
for i in range(1,11,1):
    print('3','*',i,'=',3*i)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [4]:
#print revere no from 10 to 1
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [16]:
#print reverse nos from 10 to 0

for i in range(10,0,-1):
    print(i)
print('0')

10
9
8
7
6
5
4
3
2
1
0

In [5]:
#print nos from 1 to 10 using while loop
a=1
while(a<=10):
    print(a)
    a+=1

1
2
3
4
5
6
7
8
9
10

In [6]:
#print revere nos from 10 to 1 using while loop
a=10
while(a>=1):
    print(a)
    a-=1

10
9
8
7
6
5
4
3
2
1

In [7]:
#swapping of two nos

a=int(input('a='))
b=int(input('b='))
#c=int(input('c='))
c=a
a=b
b=c
print('a=',a)
print('b=',b)

a=4
b=7
a= 7
b= 4

In [8]:
#print fibonacci series using for loop
a=0
b=1
print(a)
print(b)
print('--------')
for c in range(1,11):       #here print 10 nos buz its started from 1 to (11-1)
    c=a+b
    print(c)
    a=b
    b=c

   # print(c)

0
1
--------
1
2
3
5
8
13
21
34
55
89

In [9]:
#print fibonacci series using while loop
a=0
b=1
print(a)
print(b)
x=0
while(x<100):
    x=a+b
    print(x)
    a=b
    b=x
    x=x+1

0
1
1
2
3
5
8
13
21
34
55
89
144

In [10]:
#print sum of no series from 1 to 10 using for loop
sum=0
for i in range(1,11,1):
    sum=sum+i
    print('sum=',sum)
    
print('total sum=',sum)

sum= 1
sum= 3
sum= 6
sum= 10
sum= 15
sum= 21
sum= 28
sum= 36
sum= 45
sum= 55
total sum= 55

In [11]:
#print sum of no series from 1 to 10 using while loop
sum=0
x=1
while(x<11):
    sum=sum+x
    print('sum=',sum)
    x=x+1
    
print('total sum=',sum)

sum= 1
sum= 3
sum= 6
sum= 10
sum= 15
sum= 21
sum= 28
sum= 36
sum= 45
sum= 55
total sum= 55

In [12]:
#print sum of even nos between 1 to 10 using while loop
sum=0
x=1
while(2*x<11):
    sum=sum+2*x
    print('sum=',sum)
    x=x+1
    
print('total sum=',sum)

sum= 2
sum= 6
sum= 12
sum= 20
sum= 30
total sum= 30

In [13]:
#print sum of odd nos between 1 to 10 using while loop
sum=0
x=1
while(2*x-1<11):
    sum=sum+2*x-1
    print('sum=',sum)
    x=x+1
    
print('total sum=',sum)

sum= 1
sum= 4
sum= 9
sum= 16
sum= 25
total sum= 25

In [3]:
#print factorial of any no using for loop
fac=1
a=int(input('a='))
for a in range(1,a+1,1):
    fac=fac*a
    
print('fac=',fac)

a=4
fac= 24

In [1]:
#print factorial of any no using for loop
fac=1
a=int(input('a='))
for i in range(1,a+1,1):
    fac=fac*i
    
print('fac=',fac)

a=4
fac= 24

In [4]:
#print factorial of any no using for loop
#fac=1
a=int(input('a='))
for i in range(a,1,-1):
    a=a*(i-1)
    
print('a=',a)

a=4
a= 24

In [15]:
#print factorial of any no  using while loop

fac=1
a=int(input('a='))

while(a>=1):
    fac=fac*a
    a-=1
print('fac=',fac)

a=

ValueError: invalid literal for int() with base 10: ''

In [ ]:
#print which no is middle no among three nos(coonditionl statement)

a=int(input('a='))
b=int(input('b='))
c=int(input('c='))
if a>b and a<c or a<b and a>c:
    print('a is middle no')
elif b>a and b<c or b<a and b>c:
    print('b id middle no')
else:
    print('c is middle no')

In [11]:
#print no is prime or composite
check=0
a=int(input('a='))
for i in range(2,a,1):
    if a%i == 0:
        check=check+1
if check==0:
    print('prime no')
else:
    print('composite no')

a=5
prime no

In [4]:
# initially,check i if i<=5 then moves in inner loop and check j if j<=5then print 1 to (6-1=5) times ie print ***** after move  
#print() for the new line and again check i,at this time i will be 2 by increment 1+....and so on

for i in range(1,6,1):
    for j in range(1,6,1):
        print('*',end='')
    print()

*****
*****
*****
*****
*****

In [13]:
# i= 1 to (6-1=)5
#initially i=1,here i+1=1+1=2,,,(2+1=1),,print 1
# 2nd time i=2,then i+1=2+1=3,,,(3-1=2),,print 1 2

for i in range(1,6,1):              
    for j in range(1,i+1,1):         
        print(j,end='')             
    print()

1
12
123
1234
12345

In [12]:
for i in range(0,5,1):                          #value of i= 1 to 4
    for j in range(0,i+1,1):
        print(j,end='')
    print()

0
01
012
0123
01234

In [14]:
for i in range(5):
    for j in range(i+1):
        print(j,end='')
    print()

0
01
012
0123
01234

In [15]:
for i in range(5):
    for j in range(i+1):
        print('*',end='')
    print()

*
**
***
****
*****

In [23]:
for i in range(5,0,-1):               #here value of i =5
    for j in range(i):          
        print(j,end='')
    print()

01234
0123
012
01
0

In [18]:
for i in range(5,0,-1):
    for j in range(1,i+1,1):
        print(j,end='')
    print()

12345
1234
123
12
1

In [25]:
for i in range(5,0,-1):
    for j in range(i):
        print('*',end='')
    print()

*****
****
***
**
*

In [26]:
for i in range(5):
    for j in range(i+1):
        print(i,end='')
    print()

0
11
222
3333
44444

In [40]:
a=1
for i in range(5):
    for j in range(i+1):
        print(a,end='  ')
        a=a+1
    print()

1
2  3
4  5  6
7  8  9  10
11  12  13  14  15

In [123]:
for i in range(0,5,1):
    print(i * '*')

*
**
***
****

In [75]:
for i in range(1,6,1):
    print(i*'*')

*
**
***
****
*****

In [77]:
for i in range(5,0,-1):
    print(i * '*')

*****
****
***
**
*

In [83]:
for i in range(5,0,-1):
    for j in range(0,i,1):
        print('-',end='')
    for k in range(0,5-i,1):
        print('*', end='')
    print()

-----
----*
---**
--***
-****

In [85]:
for i in range(5,0,-1):
    for j in range(1,i,1):
        print('-',end='')
    for k in range(1,5-(i-2),1):
        print('*', end='')
    print()

----*
---**
--***
-****
*****

In [89]:
for i in range(1,2,1):
    print(i)

1

In [101]:
for i in range(5,0,-1):
    for j in range(1,i,1):
        print('-',end='')
    for k in range(0,6-i,1):
        print('*', end='')
    print()

----*
---**
--***
-****
*****

In [104]:
for i in range(5,0,-1):
    for j in range(0,i,1):
        print('*',end='')
    for k in range(0,5-i,1):
        print('-',end='')
    print()

*****
****-
***--
**---
*----

In [105]:
for i in range(0,5,1):
    for j in range(0,i,1):
        print('-',end='')
    for k in range(5,5-i,-1):
        print('*',end='')
    print()

-*
--**
---***
----****

In [16]:
for i in range(0,5,1):
    print(i*'-',(5-i)*'*')

 *****
- ****
-- ***
--- **
---- *

In [127]:
s='ab'

In [128]:
s

'ab'

In [129]:
s*2

'abab'

In [130]:
s*0

''

In [131]:
s*1

'ab'

In [2]:
for i in range(5):
    print((5-i)*'*',i * '-')

*****
**** -
*** --
** ---
* ----

In [5]:
for i in range(1,6,1):
    print((5-i)*'-',i * '*')

---- *
--- **
-- ***
- ****
 *****

In [21]:
for i in range(1,6,1):
    print((5-i)*' ',i*'*',(i-1)*'*')

     *
    ** *
   *** **
  **** ***
 ***** ****

In [25]:
for i in range(1,6,1):
    print((5-i)*' ', (2*i-1)*'*')

     *
    ***
   *****
  *******
 *********

In [27]:
for i in range(5,0,-1):
    print((5-i)*' ',(2*i-1)*'*')

 *********
  *******
   *****
    ***
     *

In [33]:
for i in range(1,6,1):
    print((5-i)*'-', (2*i-1)*'*')
    
for j in range(4,0,-1):
    print((5-j)*'-',(2*j-1)*'*')

---- *
--- ***
-- *****
- *******
 *********
- *******
-- *****
--- ***
---- *

In [5]:
count=0
for i in range(1,100,1):
    if i%11==0:
        count= count+1
print(count)

9

In [7]:
def fun(x):
    if x%2==0:
        fun(3)
    else:
        print(x)
fun(4)

3