# String

In [1]:
a=' '

In [2]:
type(a)

str

In [3]:
a=2
type(a)

int

In [4]:
a=4.6
type(a)

float

In [5]:
a=True
type(a)

bool

In [6]:
a=False
type(a)

bool

In [7]:
a=[]
type(a)

list

In [8]:
a=tuple()
type(a)

tuple

In [9]:
a={1:'b'}
type(a)

dict

In [10]:
#this is a string

b='my name is AANSHI'

In [11]:
#convert all characters in capital

b.upper()

'MY NAME IS AANSHI'

In [12]:
#convert all chars in small latter

b.lower()

'my name is aanshi'

In [13]:
#convert only 1st latter of string to be capital

b.capitalize()

'My name is aanshi'

In [14]:
#convert upper to lower and lower to upper the latter in string

b.swapcase()

'MY NAME IS aanshi'

In [15]:
#convert all chars in lower

b.casefold()

'my name is aanshi'

In [16]:
#count any char in string

b.count('n')

1

In [17]:
#split the string

b.split()

['my', 'name', 'is', 'AANSHI']

In [18]:
#length of the string

len(b)

17

In [19]:
#replace any char to another char

b.replace('A','@')

'my name is @@NSHI'

In [20]:
# use of find(),------>to show position of char, if char will not found,is will give -ve no

b.find('A')

11

In [21]:
b.find('z')

-1

In [22]:
# use of index(),----->to show position of char,if any char is not found it will give error

b.index('A')

11

In [23]:
b.index('z')

ValueError: substring not found

In [24]:
#print chars of string from 0 position to 8th position

b[0:9]            #(here we write  0:9 to get chars of position of 0 to 8 chars )

'my name i'

In [25]:
b[1:9]

'y name i'

In [26]:
b[4:9]

'ame i'

In [27]:
#show mirror of any string

b[::-1]

'IHSNAA si eman ym'

In [28]:
b[0:9:1]

'my name i'

In [29]:
b[0:9:2]          #here print the chrs except (2-1)=1 position after each char

'm aei'

In [30]:
b[0:9:3]          #here print the chrs except (3-1)=2 position after each char

'mne'

In [51]:
w='abcdefghijklmnopqrstuvwxyz'

In [52]:
w[0:26]         #if we start count the char from 0 then it will print 25th no position ie z,,,,it will print total 26 characters

'abcdefghijklmnopqrstuvwxyz'

In [53]:
w[0:25]     #it will print 25 chars,,, 0 to 24th position chars

'abcdefghijklmnopqrstuvwxy'

In [54]:
w[0:26:1]

'abcdefghijklmnopqrstuvwxyz'

In [55]:
w[0:26:2]    #it will print chars in every gaping 1 char

'acegikmoqsuwy'

In [56]:
w[0:26:3]    #it will print chars in every gaping 2 chars

'adgjmpsvy'

In [57]:
w[4:26:1]     #it will print chas after 4th position char,,,,,,[:] here colon is range slice

'efghijklmnopqrstuvwxyz'

In [31]:
#concatenate three strings

x='my name is'
y=' Aanshi'
z=' vishwakarma'
x+y+z

'my name is Aanshi vishwakarma'

In [32]:
s='this is string'
s[0]
s[1]                               #here it will give position of h which is 1 not t which is 0

'h'

In [33]:
#print characters of given string

c='hello world !'
for i in range(len(c)):                   #it will run from 0 to (13-1)=12,,,,length=13
    print(c[i])
print('length of c =',len(c))

h
e
l
l
o

w
o
r
l
d

!
length of c = 13

In [34]:
len(s)

14

In [35]:
s[0]

't'

In [36]:
s[1]

'h'

In [1]:
#print ASCII characters

for i in range(1,301,1):
    print(i,'-',chr(i))

1 - 
2 - 
3 - 
4 - 
5 - 
6 - 
7 - 
8 - 
9 -
10 -

11 -
12 -
13 -
14 - 
15 - 
16 - 
17 - 
18 - 
19 - 
20 - 
21 - 
22 - 
23 - 
24 - 
25 - 
26 - 
27 - 
28 -
29 -
30 -
31 -
32 -
33 - !
34 - "
35 - #
36 - $
37 - %
38 - &
39 - '
40 - (
41 - )
42 - *
43 - +
44 - ,
45 - -
46 - .
47 - /
48 - 0
49 - 1
50 - 2
51 - 3
52 - 4
53 - 5
54 - 6
55 - 7
56 - 8
57 - 9
58 - :
59 - ;
60 - <
61 - =
62 - >
63 - ?
64 - @
65 - A
66 - B
67 - C
68 - D
69 - E
70 - F
71 - G
72 - H
73 - I
74 - J
75 - K
76 - L
77 - M
78 - N
79 - O
80 - P
81 - Q
82 - R
83 - S
84 - T
85 - U
86 - V
87 - W
88 - X
89 - Y
90 - Z
91 - [
92 - \
93 - ]
94 - ^
95 - _
96 - `
97 - a
98 - b
99 - c
100 - d
101 - e
102 - f
103 - g
104 - h
105 - i
106 - j
107 - k
108 - l
109 - m
110 - n
111 - o
112 - p
113 - q
114 - r
115 - s
116 - t
117 - u
118 - v
119 - w
120 - x
121 - y
122 - z
123 - {
124 - |
125 - }
126 - ~
127 - 
128 - 
129 - 
130 - 
131 - 
132 - 
133 -
134 - 
135 - 
136 - 
137 - 
138 - 
139 - 
140 - 
141 - 
142 - 
143 - 
144 - 
145 - 
146 - 
147 - 
148 - 
149 - 
150 - 
151 - 
152 - 
153 - 
154 - 
155 - 
156 - 
157 - 
158 - 
159 - 
160 -
161 - ¡
162 - ¢
163 - £
164 - ¤
165 - ¥
166 - ¦
167 - §
168 - ¨
169 - ©
170 - ª
171 - «
172 - ¬
173 - ­
174 - ®
175 - ¯
176 - °
177 - ±
178 - ²
179 - ³
180 - ´
181 - µ
182 - ¶
183 - ·
184 - ¸
185 - ¹
186 - º
187 - »
188 - ¼
189 - ½
190 - ¾
191 - ¿
192 - À
193 - Á
194 - Â
195 - Ã
196 - Ä
197 - Å
198 - Æ
199 - Ç
200 - È
201 - É
202 - Ê
203 - Ë
204 - Ì
205 - Í
206 - Î
207 - Ï
208 - Ð
209 - Ñ
210 - Ò
211 - Ó
212 - Ô
213 - Õ
214 - Ö
215 - ×
216 - Ø
217 - Ù
218 - Ú
219 - Û
220 - Ü
221 - Ý
222 - Þ
223 - ß
224 - à
225 - á
226 - â
227 - ã
228 - ä
229 - å
230 - æ
231 - ç
232 - è
233 - é
234 - ê
235 - ë
236 - ì
237 - í
238 - î
239 - ï
240 - ð
241 - ñ
242 - ò
243 - ó
244 - ô
245 - õ
246 - ö
247 - ÷
248 - ø
249 - ù
250 - ú
251 - û
252 - ü
253 - ý
254 - þ
255 - ÿ
256 - Ā
257 - ā
258 - Ă
259 - ă
260 - Ą
261 - ą
262 - Ć
263 - ć
264 - Ĉ
265 - ĉ
266 - Ċ
267 - ċ
268 - Č
269 - č
270 - Ď
271 - ď
272 - Đ
273 - đ
274 - Ē
275 - ē
276 - Ĕ
277 - ĕ
278 - Ė
279 - ė
280 - Ę
281 - ę
282 - Ě
283 - ě
284 - Ĝ
285 - ĝ
286 - Ğ
287 - ğ
288 - Ġ
289 - ġ
290 - Ģ
291 - ģ
292 - Ĥ
293 - ĥ
294 - Ħ
295 - ħ
296 - Ĩ
297 - ĩ
298 - Ī
299 - ī
300 - Ĭ

In [38]:
ord('A')

65

In [39]:
ord('Z')

90

In [40]:
ord('a')

97

In [41]:
ord('z')

122

In [42]:
ord('0')

48

In [43]:
ord('9')

57

In [44]:
chr(65)

'A'

In [45]:
chr(1)

'\x01'

In [64]:
#print any string n times

a='abc=>'
a*6                               #here n=6,it will print 6 times of this string

'abc=>abc=>abc=>abc=>abc=>abc=>'

In [47]:
len(n)

NameError: name 'n' is not defined

In [48]:
#print total no of small and capital chars in given string

s='Aanshi Vishwakarma'
count1=0
count2=0
for i in range(len(s)):
    if ord(s[i])>=65 and ord(s[i])<=90:                   # A=65, Z=90, a=97, z=122
        count1=count1+1

    elif  ord(s[i])>=97 and ord(s[i])<=122:
        count2=count2+1
    #else:
        #print('nothing is done')
        
print('total no os capital chars=',count1)
print('total no of small chars are=',count2)

total no os capital chars= 2
total no of small chars are= 15

In [49]:
#print total no of small and capital chars in given string

s=input()
count1=0
count2=0
for i in range(len(s)):
    if ord(s[i])>=65 and ord(s[i])<=90:
        count1=count1+1

    elif  ord(s[i])>=97 and ord(s[i])<=122:
        count2=count2+1
    #else:
        #print('nothing is done')
        
print('total no of capital chars=',count1)
print('total no of small chars are=',count2)

Aanshi Vishwakarma
total no of capital chars= 2
total no of small chars are= 15

In [3]:
#print total no of integers in given string

s=input()
count=0
for i in range(len(s)):
    if ord(s[i])>=48 and ord(s[i])<=57:               # 0= 48, 9= 57,,ord('0')=48, ord('9')=57
        count+=1
#    else:
#        print('nothing')
print('total no of integers=',count)

aanshi1503vishwakarma
total no of integers= 4

In [2]:
#print total no of capital,small,and integer chars in string

s=input()
count1=0
count2=0
count3=0
for i in range(len(s)):
    if ord(s[i])>=65 and ord(s[i])<=90:
        count1+=1
    elif ord(s[i])>=97 and ord(s[i])<=122:
        count2+=1
    elif ord(s[i])>=48 and ord(s[i])<=57:
        count3+=1
        
print('capital=',count1)
print('small=',count2)
print('integers=',count3)

Aanshi153
capital= 1
small= 5
integers= 3

In [4]:
#convert small to capital and capital to small chars in given string

s=input()
for i in range(len(s)):
    if ord(s[i])>=65 and ord(s[i])<=90:
        print(s[i].lower())
    elif ord(s[i])>=97 and ord(s[i])<=122:
        print(s[i].upper())

Aanshi
a
A
N
S
H
I

In [5]:
#convert small to capital and capital to small chars in given string

s=input()
for i in range(len(s)):
    if ord(s[i])>=65 and ord(s[i])<=90:
        print(s[i].lower(),end='')
    elif ord(s[i])>=97 and ord(s[i])<=122:
        print(s[i].upper(),end='')

Aanshi
aANSHI

In [58]:
q='ghgguiu'

In [60]:
q.count('g')

3

In [61]:
q.count('u')

2

In [62]:
q.count('i')

1

In [63]:
q.count('a')

0

In [66]:
q[0]

'g'

In [67]:
q[1]

'h'

In [68]:
q[-1]

'u'

In [69]:
q[-2]

'i'