# List

In [1]:
#this is list

li=[1,5.8,'a',True,4,3,4]

In [2]:
#count the any element in given list

li.count(4)

2

In [3]:
#sort the list

li.sort()

TypeError: '<' not supported between instances of 'str' and 'float'

In [4]:
#remove the any element

li.remove('a')

In [7]:
li

[1, 5.8, True, 4, 3, 4]

In [6]:
li.sort()

In [7]:
li

[1, True, 3, 4, 4, 5.8]

In [8]:
#remove the any element by  pop(index)

li.pop(1)

True

In [9]:
li

[1, 3, 4, 4, 5.8]

In [10]:
#remove any element by del keyword    # del list_name[index]

del li[1]

In [11]:
li

[1, 4, 4, 5.8]

In [12]:
#insert the any element by    ## list_name.insert(index,element)

li.insert(2,9)

In [13]:
li

[1, 4, 9, 4, 5.8]

In [14]:
#to add the element, by append(element),----> it will add the element at the last position of list

li.append(10)

In [15]:
li

[1, 4, 9, 4, 5.8, 10]

In [16]:
#to add multiple element in list at time,------->list_name.extend([elements])

li.extend([77,55,23,100,65])

In [17]:
li

[1, 4, 9, 4, 5.8, 10, 77, 55, 23, 100, 65]

In [18]:
#sort the list of elements

li.sort()

In [19]:
li

[1, 4, 4, 5.8, 9, 10, 23, 55, 65, 77, 100]

In [20]:
#reverse the list of elements

li.sort(reverse=True)

In [21]:
li

[100, 77, 65, 55, 23, 10, 9, 5.8, 4, 4, 1]

In [22]:
#reverse the list of elements

li.reverse()

In [23]:
li

[1, 4, 4, 5.8, 9, 10, 23, 55, 65, 77, 100]

In [24]:
#the list of elements(mirror)

li[::-1]

[100, 77, 65, 55, 23, 10, 9, 5.8, 4, 4, 1]

In [25]:
#find the index of any element of list

li.index(10)

5

In [26]:
li.index(23)

6

In [27]:
#print the list of elements from 0 to (5-1)=4 position

li[:5]

[1, 4, 4, 5.8, 9]

In [28]:
#print the list of elements from 2 to (5-1)=4 position

li[2:5]

[4, 5.8, 9]

In [29]:
#print the length of string

x=[3,6.8,False,'g',6,6,10]
len(x)

7

In [30]:
#print the elements of list

for i in range(len(x)):
    print(x[i])

3
6.8
False
g
6
6
10

In [31]:
x[0]

3

In [32]:
x[1]

6.8

In [33]:
x[-7]

3

In [34]:
x[-6]

6.8

In [35]:
x[-1]

10

In [36]:
#insert any element in list

x[2]='hi'

In [37]:
x

[3, 6.8, 'hi', 'g', 6, 6, 10]

In [38]:
#insert any element by----> list_name.insert(index,element)

x.insert(4,'hello')

In [39]:
x

[3, 6.8, 'hi', 'g', 'hello', 6, 6, 10]

In [40]:
#replace any element by another element

x[1]='Aanshi'

In [41]:
x

[3, 'Aanshi', 'hi', 'g', 'hello', 6, 6, 10]

In [42]:
x.replace('hello','hlw')

AttributeError: 'list' object has no attribute 'replace'

In [43]:
x

[3, 'Aanshi', 'hi', 'g', 'hello', 6, 6, 10]

In [44]:
#create a copy of given list ,suppose x   # x is given list

y=x.copy()

In [45]:
y

[3, 'Aanshi', 'hi', 'g', 'hello', 6, 6, 10]

In [46]:
#equal to a list to another list

z=x

In [47]:
z

[3, 'Aanshi', 'hi', 'g', 'hello', 6, 6, 10]

In [48]:
#clear the given list x

x.clear()

In [49]:
x

[]

In [50]:
#then check another list ,what happened

z

[]

In [51]:
y                               #here y be not empty because it is the copy of given list x

[3, 'Aanshi', 'hi', 'g', 'hello', 6, 6, 10]

In [84]:
#print any list which have 1 to 10 numbers

a= [ i for i in range(1,11,1)]

In [85]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
#insert any elements in list

li=[2,5,6.8,'d',True,33]
li.extend(['hello',56,8.9])

In [55]:
li

[2, 5, 6.8, 'd', True, 33, 'hello', 56, 8.9]

In [56]:
#insert any element on specify index

li[2]=False              #it will replace previous element and include new element on specify index no

In [57]:
li

[2, 5, False, 'd', True, 33, 'hello', 56, 8.9]

In [58]:
#insert elements on specify index

li[4]=[i for i in range(2,6,1)]

In [59]:
li

[2, 5, False, 'd', [2, 3, 4, 5], 33, 'hello', 56, 8.9]

In [60]:
#excess the any element by specifying index

li[2]

False

In [61]:
#excess the element  by specifying index

li[4][1]

3

In [62]:
#print the elements from 0 to 6th position

li[:7]

[2, 5, False, 'd', [2, 3, 4, 5], 33, 'hello']

In [63]:
#print the elements from 3rd to 6th position

li[3:7]

['d', [2, 3, 4, 5], 33, 'hello']

In [64]:
#concatenate two list

li1=[2,5.6,True,'s']
li2=[False,4,'8']
li1+li2

[2, 5.6, True, 's', False, 4, '8']

In [86]:
#multiply any list by any number

li=[3,6,8.9,'d',False,4]
li*3

[3, 6, 8.9, 'd', False, 4, 3, 6, 8.9, 'd', False, 4, 3, 6, 8.9, 'd', False, 4]

In [66]:
li*3

[3, 6, 8.9, 'd', False, 4, 3, 6, 8.9, 'd', False, 4, 3, 6, 8.9, 'd', False, 4]

In [67]:
li*0

[]

In [68]:
li*1

[3, 6, 8.9, 'd', False, 4]

In [79]:
l=[1,'s',True,5.7,6,9]
l.remove('s')
l

[1, True, 5.7, 6, 9]

In [80]:
l.remove(5.7)
l

[1, True, 6, 9]

In [82]:
l.remove(True)
l

[True, 6, 9]

In [9]:
m=[7,True,5.3,4,2,'s']
m.remove('s')
m.sort()
m.append(1)
#m[0:3]
m

[True, 2, 4, 5.3, 7, 1]